<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <app-add-project></app-add-project>
    @for (project of projects; track project.id) {
    <div class="col">
      <div class="card h-100">
        <img [src]="project.image" class="card-img-top" alt="{{ project.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ project.project_Name }}</h5>
          <p class="card-text">{{ project.project_details }}</p>
        </div>
        <div class="card-footer">
          <p class="project-description ">{{ project.projectLink}}</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>