<form class="container border" [formGroup]="projectForm" (ngSubmit)="addProject()">
  <div class="mb-3">
    <label for="name" class="form-label">Project Name:</label>
    <input type="text" class="form-control" id="name" formControlName="project_Name" required>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Project Description:</label>
    <textarea class="form-control" id="description" formControlName="project_details" required></textarea>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Project Image URL:</label>
    <input type="url" class="form-control" id="image" formControlName="image" required>
  </div>
  <div class="mb-3">
    <label for="projectLink" class="form-label">Project Link:</label>
    <input type="url" class="form-control" id="projectLink" formControlName="projectLink" required>
  </div>
  <button type="submit" class="btn btn-primary mb-3">Add Project</button>
</form>
